.list {
  list-style: none;
  gap: 10px;
  padding: 10px 0 0 0;
  display: grid;
  grid-template-columns: 375px 375px;
  align-items: stretch;
}

.list__card {
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 15px;
  padding: 5px 5px 55px 15px;
  max-width: 375px;
}

.card-text {
  height: 0;
}
